@tailwind preflight;

@tailwind components;

body::-webkit-scrollbar {
    width: 0.4em;
    background: transparent;
}
body::-webkit-scrollbar-thumb {
    background: #323E4F;
}
body {
    width: 100vw;
    overflow-x: hidden;
}

.downloadTorrentBtn {
    @apply bg-transparent mr-1 text-xs text-nepal font-semibold py-1 px-2 rounded-full border border-nepal rounded-full
}

.downloadTorrentBtn:hover {
    @apply bg-oxford-blue border-transparent
}

table th {
    @apply py-3 px-4 font-sans font-medium uppercase text-sm border-b border-ebony-clay
}

table td {
    @apply py-3 px-4 border-b border-ebony-clay
}

@tailwind utilities;
